<p>more test</p>
<p>{{whatever}}</p>
<p>Rack Version: {{rack_version}}</p>
<p>Test base: {{base_url}}</p>
<p>Session: {{session}}</p>
<p>GET params: {{get}}</p>
<p>Memory Usage: {{memory}}MB</p>
<p>{{current_uri}}</p>
<p>{{segments}}</p>
<p>{{controller}}</p>
<p>{{method}}</p>
{{all_controllers}}