<p>more test</p>
<p><%= @whatever %></p>
<p>Rack Version: <%= Rack::VERSION %></p>
<p>Test base: <%= Picombo::Url.base() %></p>
<p>Session: <%= Picombo::Session.instance.get.inspect %></p>
<p>GET params: <%= Picombo::Input.instance.get.inspect %></p>
<p>Memory Usage: <%= (`#{'ps -o rss= -p '+Process.pid.to_s}`.to_f/1024.0) %>MB</p>
<p><%= Picombo::Router.current_uri %></p>
<p><%= Picombo::Router.segments.inspect %></p>
<p><%= Picombo::Router.controller %></p>
<p><%= Picombo::Router.method %></p>
<h2>XSS CLEAN TEST</h2>
<p><%= Picombo::Security.xss_clean('<script type="text/javascript">alert("foo!")</script>')%></p>
<%= Picombo::Core.list_files('controllers').inspect %>