<table style="width: 100%">
	<tr>
		<th align="left">System Benchmarks</th>
		<th align="right">Time</th>
	</tr>
	<tr>
		<td>Picombo Setup</td>
		<td align="right">{{loading}}</td>
	</tr>
	<tr>
		<td>Environment Setup</td>
		<td align="right">{{setup}}</td>
	</tr>
	<tr>
		<td>Controller Execution</td>
		<td align="right">{{controller_execution}}</td>
	</tr>
	<tr>
		<td>Total Execution</td>
		<td align="right">{{application}}</td>
	</tr>
</table>